.gameBox {
	background: none repeat scroll 0 0 #fff;
	border-radius: 2px;
	box-shadow: 0 1px 5px #8a9ba8;
	margin: 3% auto 0;
	max-width: 360px;
	min-height: 300px !important;
	min-width: 300px;
	padding: 1px 1px 10px;
	position: relative;
	width: 94%;
	margin-top: 130px;
}

.guessBox {
	margin-left: 14px;
	margin-top: 60px;
}

#statusDiv {
	margin-top: 15px;
	color: blue;
}